<header>
    <nav>
        <a href="/">Mybrary</a>
        <ul>
            <li><a href="/authors">Author</a></li>
            <li><a href="/authors/new">Add Author</a></li>


        </ul>
    </nav>
</header>